#publicphotos{
	width:965px;
	padding:29px 0 29px 35px;
}

#publicphotos h1{
	display:block;
	width:100%;
	height:20px;
	color:#6A738F;
	text-align:left;
	font-size:1.86em;
	font-weight:normal;
}

#p-albums-items{
	display:block;
	width:100%;
	padding-top:10px;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}

.p-photos-block{
	width:220px;
	height:235px;
	border-right:17px solid #FFF;
	border-bottom:16px solid #FFF;
	background-color:#CBCBD0;
}

.p-photos-block a.aimgi{
	display:block;
	width:204px;
	height:153px;
	padding:8px;
	background-color:#B6B7BF;
}

.p-photos-block a.aimgi:hover{
	background-color:#F16C65;
}

.p-photos-block .p-photos-inf{
	display:block;
	width:100%;
	height:20px;
	padding-top:5px;
}

.p-photos-block .p-photos-inf strong{
	display:block;
	width:90%;
	padding-left:5px;
	text-align:left;
	color:#6A738F;
}

.p-photos-block .p-photos-inf em{
	display:block;
	width:60%;
	padding-left:5px;
	text-align:left;
	font-size:0.9em;
	color:#6A738F;
}

/* ***************** VIEW PHOTOS ************************ */

#viewphoto{
	width:965px;
	padding:29px 0 29px 35px;
}

#viewphoto h1.viewphoto-album-name{
	display:block;
	width:100%;
	height:60px;
	line-height:1;
	color:#6A738F;
	text-align:left;
	font-size:1.86em;
	font-weight:normal;
}

#viewphoto h1.viewphoto-album-name a{
	color:#6A738F;
	font-size:1.86em;
	font-weight:normal;
	text-decoration:none;
}

#viewphoto h2.viewphoto-username{
	display:block;
	width:100%;
	height:30px;
	color:#2d2f3b;
	text-align:left;
	font-size:1.13em;
	font-weight:normal;
}

#viewphoto h2.viewphoto-username img{
	display:block;
	width:20px;
	height:19px;
	margin-right:10px;
	float:left;
}

#view-photo-blk{
	width:930px;
	height:605px;
	background-color:#CFCFD4;
}

#view-photo-blk a{
	display:block;
	width:63px;
	height:588px;
	background-color:#CFCFD4;
}

#p-photos-block-arr-left{
	background:#CFCFD4 url(/assets/img/big_arr_left.jpg) no-repeat center center;
	float:left;
}

#view-photo-blk img{
	display:block;
	width:784px;
	height:588px;
	border:8px solid #B6B7BF;
	float:left;
}

#p-photos-block-arr-right{
	background:#CFCFD4 url(/assets/img/big_arr_right.jpg) no-repeat center center;
	float:right;
}

h2#p-photo-name{
	display:block;
	width:100%;
	height:60px;
	padding-top:10px;
	line-height:1;
	color:#6A738F;
	text-align:left;
	font-size:1.86em;
	font-weight:normal;
}

/* ******************* ALBUMS ******************* */
#albums-blk{
	width:965px;
	padding:29px 0 29px 35px;
}

#albums-blk h2{
	display:block;
	width:100%;
	height:20px;
	color:#6A738F;
	text-align:left;
}

#albums-blk #albums-blk-items{
	display:block;
	width:100%;
	padding-top:10px;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}

.album-block{
	width:220px;
	height:220px;
	border-right:17px solid #FFF;
	border-bottom:16px solid #FFF;
	background-color:#CBCBD0;
}

.album-block a.aimgi{
	display:block;
	width:204px;
	height:153px;
	padding:8px;
	background-color:#B6B7BF;
}

.album-block a.aimgi:hover{
	background-color:#F16C65;
}

/* ******************* INSIDE ALBUM ******************* */
#view-album{
	display:block;
	width:965px;
	min-height:400px;
	padding:29px 0 10px 35px;
}

#view-album-username{
	display:block;
	width:100%;
	height:30px;
	color:#2d2f3b;
	text-align:left;
	font-size:1.13em;
	font-weight:normal;
}

#view-album-name{
	color:black;
	padding-top:10px;
}

#view-album-username img{
	display:block;
	width:20px;
	height:19px;
	margin-right:10px;
	float:left;
}

#view-album-blk{
	display:block;
	width:950px;
	background-color:#FFF;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}

#view-album-blk a{
	display:block;
	width:220px;
	height:165px;
	border-right:17px solid #FFF;
	border-bottom:16px solid #FFF;
}
#view-album-blk a img{
	display:block;
	width:220px;
	height:165px;
}

#comment-block{
	background-color:#d75650;
	width:430px;
	height:400px;
	margin:20px 0 30px 240px;
	text-align:center;
	border-radius:5px;
}
#comment-block p{
	display:block;
	width:80%;
	min-height:20px;
	padding-bottom:10px;
	margin:0 auto;
	float:none;
}

#comment-text{
	width:100%;
	height:200px;
	padding:2px;
	border-radius:5px;
	border:1px solid #000000;
}

#comment-block p.captcha{
	height:30px;
}
#comment-block p.captcha label{
	display:block;
	width:100px;
	line-height:1;
	padding-right:15px;
	font-size:1.0em;
	text-align:left;
	color:#FFFFFF;
	float:left;
}
#comment-block p.captcha img{
	display:block;
	margin-right:15px;
	float:left;
}
#comment-block p.captcha input{
	display:block;
	width:80px;
	padding:3px;
	font-size:1.13em;
	float:left;
}

#comment-button{
	width:100%;
	height:30px;
	background:#FFF;
	border:1px solid black;
	font-weight:bold;
	border-radius:5px;
}

#comment-uname{
	margin-top:20px;
	width:300px;
	height:25px;
	border-radius:5px;
	border:1px solid #000000;
}

#comment-list{
	display:block;
	width:600px;
	padding-bottom:20px;
	margin:0 auto;
}

#comment-list .full-comment{
	display:block;
	width:100%;
	margin-bottom:15px;
}
#comment-list .full-comment-name{
	display:block;
	color:#F16C65;
	font-weight:bold;
	font-size:15px;
}

#comment-list .full-comment-date{
	display:block;
	font-size:15px;
	font-weight:bold;
	color:#FAB4B0;
}
#comment-list .full-comment-comment{
	width:300px;
	margin:0 auto;
}

/* *********************** SEARCH AREA *********************** */

#search-results{
	width:965px;
	padding:29px 0 29px 35px;
}
#search-results-albums{
	display:block;
	width:100%;
	padding-bottom:50px;
}
#search-results-albums h1.search-results-title,
#search-results-photos h1.search-results-title{
	display:block;
	width:100%;
	height:20px;
	padding-bottom:8px;
	color:#6A738F;
	text-align:left;
}
.search-results-items{
	display: flex;
	width: 100%;
	padding-top: 10px;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}