#signup{
	width:930px;
	min-height:200px;
	padding:35px;
	background-color:#F16C65;
}

#signup form{
	display:block;
	width:100%;
	min-height:150px;
	padding-top:20px;
}

#signup form p{
	display:block;
	width:100%;
	padding-bottom:10px;
}
#signup form p input{
	display:inline-block;
	width:210px;
	padding:8px 11px;
	margin-right:18px;
	color:#FAB4B0;
	border:0;
	border-radius:5px 5px 5px 5px;
	background-color:#d75650;
	font-size:1.1em;
}
::-webkit-input-placeholder{color:#FAB4B0;opacity:1;}
:-moz-placeholder{color:#FAB4B0;opacity:1;}
::-moz-placeholder{color:#FAB4B0;opacity:1;}
:-ms-input-placeholder{color:#FAB4B0;opacity:1;}

#signup form p button{
	display:inline-block;
	padding:7px 18px;
	line-height:1;
	margin-top:12px;
	color:#FFFFFF;
	border:1px solid #FFFFFF;
	border-radius:6px 6px 6px 6px;
	background-color:#F16C65;
	font-size:1.13em;
	text-decoration:none;
	cursor:pointer;
}

/* ********************** REGISTRATION FORM ********************** */
#register-form{
	width:690px;
	height:170px;
	text-align:left;
	float:left;
}
#register-form h1{
	display:block;
	width:100%;
	line-height:1.1;
	color:#FFF;
	font-size:1.86em;
	font-weight:normal;
	text-align:left;
}
#register-form h1 strong{
	font-weight:bold;
}

/* ********************** LOGIN FORM ********************** */

#login-form{
	display:block;
	width:232px;
	height:150px;
	text-align:left;
	float:right;
}
#login-form h2{
	display:block;
	width:100%;
	line-height:1.1;
	color:#FFF;
	font-size:1.86em;
	text-align:left;
}
#signup #login-form form p button{
	float:right;
}